body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  ul {
    margin: 0;
  }
 
  .bg-steel {
    background-color: #337ab7;
  }
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .lug-title {
    color: #00527E;
  }
  
  a.lug-title:hover {
    color: #8a028f;
    text-decoration: none;
  }
  
  .lug-content {
    white-space: pre-line;
  }
  
  .lug-img {
    height: 150px;
    width: 150px;
    margin-right: 16px;
  }
  
  .lug-thumb {
    height: 40px;
    width: 40px;
    margin-right: 1px;
    margin-left: 1px;
  }

  .lug-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .lug-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .lug-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  .post-title {
    color: rgb(4, 34, 116);
    margin-bottom: 2px;
    margin-top: 5px;
  }

  .post-content {
    white-space: post-line;
    border-bottom: 1px;
  }

  .post-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }


/*bootstrp-card customized */

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.card-banner {
    position: relative;
}
.card-banner .card-title {
    position: absolute;
    bottom: 0px;
    left: 6px;
    color: #FFF;
    font-size: 18pt;
    font-weight: bold;
    text-shadow: 1px 1px 4px #222;
}
.card-banner .card-img-top {
    width: 100%;
}
.card-link {
    color: #000 !important;
}
.card-body {
    padding: 1.25rem;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: #cfcfcf 1px solid;
  background-color: #f5f5f5;
  color: #aaaaaa;
}
.footer ul {
  display: inline;
  list-style-type: none;
  margin-left: 0.5em;
}
.footer ul li {
  display: inline;
  margin-left: 0.5em;
}
.footer a {
text-decoration: none;
color: inherit;
}


.empty-span {
  margin-top: 5em;
  margin-bottom: 5em;
  display: block; /* Could also use inline-block */
}

/* .search-box {
  display: inline-flex;
}
.search-box button {
  margin-left: 4px;
}

* {
  box-sizing: border-box;
} */

/* Style the search field */
form.search-box input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.search-box button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.search-box button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.search-box::after {
  content: "";
  clear: both;
  display: table;
}