{% extends "lugs/base.html" %}
{% block content %}
    <h1>About Linux LUGs</h1>
    <p>LinuxLUGs.com is a simple free and open-source directory for Linux User Groups (LUGs)
        and communities all around the world.</p>
    <p>Using the site, you can find local Linux LUGs or communities and join the one(s) you're
         interested in to stay up to date with their meetups, activites, news and announcements.</p>
    <p>You can also start/add your own LUG and invite members to join.</p>

    <p>For feedback, please <a href="/contact/">contact us</a>.</p>
    <p>Project source code is available on <a href="https://github.com/ahmedlemine/linux-lugs">GitHub</a>.</p>

{% endblock content %}