{% load static %}
<!DOCTYPE html>

<html>

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'lugs/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'lugs/css/font-awesome.min.css' %}">


    {% if title %}
    <title>Linux LUGs - {{ title }}</title>
    {% else %}
    <title>Linux LUGs</title>
    {% endif %}
</head>

<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="{% url 'lugs-home' %}"><img src="{% static 'lugs/img/linux-lugs-logo-navy-white.png' %}"
                    height="38px" width="50px"/></a>
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                            <a class="nav-item nav-link" href="{% url 'find-lugs-in-city' %}"><i class="fa fa-map-marker" aria-hidden="true"></i> Nearby LUGs</a>
                            <a class="nav-item nav-link" href="{% url 'lugs-about' %}">About</a>
                    </div>
                    <!-- Navbar Right Side -->
                    <div class="navbar-nav">

                        {% if user.is_authenticated %}
                        <a class="nav-item active btn btn-outline-info" href="{% url 'lug-create' %}">Add a LUG</a>

                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarUserMenuLink" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <img class="rounded-circle mr-1" src="{{ user.profile.image.url }}"
                                    height="24px" />
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarUserMenuLink">
                                <a class="dropdown-item" href="{% url 'public-profile' user %}"><i class="fa fa-user-circle"
                                        aria-hidden="true"></i> Profile</a>
                                <a class="dropdown-item" href="{% url 'my-lugs' %}"><i class="fa fa-users"
                                        aria-hidden="true"></i> My LUGs</a>
                                {% if user.profile.city != None %}
                                <a class="dropdown-item" href="{% url 'lugs-by-city' user.profile.city_id %}"><i class="fa fa-map-marker"
                                    aria-hidden="true"></i> LUGs in My City</a>
                                {% endif %}
                                <a class="dropdown-item" href="{% url 'logout' %}"><i class="fa fa-sign-out"></i>
                                    Logout</a>
                            </div>
                        </div>
                        {% else %}
                        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                        <a class="nav-item nav-link" href="{% url 'register' %}">Sign Up</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}

                {% block content %}
                {% endblock content %}
                
            </div>
{% block sidebar %}{% endblock sidebar %}
        </div>
        

    </main>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>