{% extends "lugs/base.html" %}

{% load crispy_forms_tags %}
{% block content %}
<h1></h1>
    <div class="content-sections">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class ="form-group">
                <legend class="border-bottom mb-4">Create/Update LUG</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-success" type="submit">Save</button>
                <!-- neccessary for new lug form to work with a delete button-->
                {% if lug.slug %}
                <a class="btn btn-secondary" href="{% url 'lug-detail' lug.slug %}">Cancel</a>
                <a class="btn btn-danger" href="{% url 'lug-delete' lug.slug %}">Delete LUG</a>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock content %}