{% extends "lugs/base.html" %}
{% block content %}

<div class="row">
           
{% for lug in lugs %}

<div class="col-md-6">
    <div class="card mb-4 box-shadow">
        <div class="card-banner">
            <a href="{% url 'lug-detail' lug.slug %}">
                <img class="card-img-top"
                    src="{{ lug.cover_image.url }}"
                    alt="{{ lug.name }} cover image">
            </a>
            <p class="card-title"><strong>{{ lug.name }}</strong></p>
        </div>
        <div class="card-body">
            <p class="card-text text-muted">{{ lug.city|truncatewords:4 }}</p>
            <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">
                    <i class="fa fa-users fa-lg" aria-hidden="true"></i> {{lug.profile_set.all.count}}
                    <i class="fa fa-user fa-lg" aria-hidden="true"></i><a class="mr-2" href="{% url 'public-profile' lug.added_by.username %}"> {{ lug.added_by }}</a>
                </small>
                <div class="btn-group">
                    <a class="btn btn-primary" href="{% url 'lug-detail' lug.slug %}">View</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}


</div>

{% include "lugs/pagination.html" %}

{% endblock content %}

{% block sidebar %}
<!-- start side bar-->
<div class="col-md-4">
    <div class="content-section">

            <form action="" method="GET">
                    <fieldset class="form-group">
                        <input type="text" value="{{ request.GET.q }}" name="q" placeholder="Search LUGs by name">
                        <input class="btn btn-sm btn-primary" type="submit" value="Search">
                    </fieldset>
            </form>
    </div>       
</div>
<!-- end side bar-->

{% endblock sidebar %}