{% extends "lugs/base.html" %}
{% block content %}
{% for lug in lugs %}
<! TO DO : replace article with lug>
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ lug.added_by }}</a>
            <small class="text-muted">{{ lug.date_added|date:"F d, Y" }}</small>
        </div>
        <p>{{lug.city}}, {{ lug.country }}</p>
        <h2><a class="article-title" href="#">{{ lug.name }}</a></h2>
        <p class="article-content">{{ lug.description }}</p>
    </div>
</article>

{% endfor %}
{% endblock content %}