{% extends "lugs/base.html" %}
{% block content %}
<!-- TO DO : change object to lug , also in views-->
<lug class="media content-section">
    <img class="lug-img" src="{{ object.cover_image.url }}" alt="">
    <div class="media-body">
        <div class="lug-metadata">
            <a class="mr-2" href="#">{{ object.city }}, {{ object.country }} </a>
            {% if object.added_by == user %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'lug-update' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'lug-delete' object.id %}">Delete</a>
            </div>
            {% endif %}
        </div>
        <h2 class="lug-title">{{ object.name }}</h2>

        <p class="lug-content">{{ object.description }}</p>
        <div>
            <a class="mr-2" href="{% url 'lugs-by-user' object.added_by.username %}">{{ object.added_by }}</a>
            <small class="text-muted">{{ object.date_added|date:"F d, Y" }}</small>
        </div>
    </div>
</lug>
{% endblock content %}