{% extends "lugs/base.html" %}
{% block content %}
<h1 class="mb-3">LUGs by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>
{% for lug in lugs %}
<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <div class="card-banner">
            <a href="{% url 'lug-detail' lug.slug %}">
                <img class="card-img-top"
                    src="{{ lug.cover_image.url }}"
                    alt="{{ lug.name }} cover image">
            </a>
            <p class="card-title"><strong>{{ lug.name }}</strong></p>
        </div>
        <div class="card-body">
            <p class="card-text text-muted">{{lug.city}}</p>
            <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">
                    <i class="fa fa-users fa-lg" aria-hidden="true"></i> {{lug.profile_set.all.count}}
                    <i class="fa fa-user fa-lg" aria-hidden="true"></i><a class="mr-2" href="{% url 'public-profile' lug.added_by.username %}"> {{ lug.added_by }}</a>
                </small>
                <div class="btn-group">
                    <a class="btn btn-primary" href="{% url 'lug-detail' lug.slug %}">View</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}
{% include "lugs/pagination.html" %}
{% endblock content %}