{% extends "lugs/base.html" %}
{% block content %}
<h3 class="mb-3">Found ({{ lugs.count }}) Linux User Group(s) in <strong>{{ lugs.first.city }}</strong></h3>
{% for lug in lugs %}
<lug class="media content-section">
    <img class="lug-img" src="{{ lug.cover_image.url }}" alt="">
    <div class="media-body">
        <div class="lug-metadata">
            <a class="mr-2" href="#">{{ lug.city }} </a>
        </div>
        <h2><a class="lug-title" href="{% url 'lug-detail' lug.slug %}">{{ lug.name }}</a></h2>
        <p class="lug-content">{{ lug.description }}</p>
        <div>
                <p><strong>Added by: </strong><a class="mr-2" href="{% url 'public-profile' lug.added_by.username %}">{{ lug.added_by }}</a></p>
                <p><strong>Added On: </strong>{{ lug.date_added|date:"F d, Y" }}</p>
                <p><strong>Last Updated: </strong>  {{ lug.last_updated|date:"F d, Y" }}</p>
        </div>
    </div>
</lug>

{% endfor %}

{% include "lugs/pagination.html" %}

{% endblock content %}