{% extends "lugs/base.html" %}
{% block content %}
<h1 class="mb-3">My LUGs ({{ page_obj.paginator.count }})</h1>
{% if lugs %}

{% for lug in lugs %}
<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <div class="card-banner">
            <a href="{% url 'lug-detail' lug.slug %}">
                <img class="card-img-top"
                    src="{{ lug.cover_image.url }}"
                    alt="{{ lug.name }} cover image">
            </a>
            <p class="card-title"><strong>{{ lug.name }}</strong></p>
        </div>
        <div class="card-body">
                <p class="card-text text-muted"><i class="fa fa-map-marker text-muted mr-2" aria-hidden="true"></i>{{ lug.city|truncatewords:4 }}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">
                        <i class="fa fa-users mr-1" aria-hidden="true"></i>{{lug.profile_set.all.count}}
                        <i class="fa fa-user ml-2" aria-hidden="true"></i> <a href="{% url 'public-profile' lug.added_by.username %}">{{ lug.added_by|slice:":20" }} </a>
                    </small>
                    <div class="btn-group">
                        <a class="btn btn-outline-info" href="{% url 'lug-detail' lug.slug %}">View</a>
                    </div>
                </div>
        </div>
    </div>
</div>
{% endfor %}

{% else %}
<h5>You have not created any LUGs.</h5>
<a class="btn btn-primary" href="{% url 'lug-create' %}">New LUG</a>

{% endif %}

{% include "lugs/pagination.html" %}

{% endblock content %}