{% extends "lugs/base.html" %}
{% block content %}
<h1 class="mb-3">My LUGs ({{ page_obj.paginator.count }})</h1>
{% if lugs %}

{% for lug in lugs %}
<lug class="media content-section">
    <img class="lug-img" src="{{ lug.cover_image.url }}" alt="">
    <div class="media-body">
        <div class="lug-metadata">
            <a class="mr-2" href="#">{{ lug.city }}, {{ lug.country }} </a>
        </div>
        <h2><a class="lug-title" href="{% url 'lug-detail' lug.id %}">{{ lug.name }}</a></h2>
        <p class="lug-content">{{ lug.description }}</p>
        <div class="d-flex justify-content-between align-items-center">
            <small class="text-muted">
                <i class="fa fa-users fa-lg" aria-hidden="true"></i> {{lug.profile_set.all.count}}
                <i class="fa fa-user fa-lg" aria-hidden="true"></i><a class="mr-2" href="{% url 'public-profile' lug.added_by.username %}"> {{ lug.added_by }}</a>
                <i class="fa fa-refresh fa-lg" aria-hidden="true"></i> {{ lug.last_updated|date:"d, n, Y" }}
                
            </small>
            <div class="btn-group">
                <a class="btn btn-primary" href="{% url 'lug-detail' lug.pk %}">View</a>
            </div>
        </div>
    </div>
</lug>

{% endfor %}

{% else %}
<h5>You have not created any LUGs.</h5>
<a class="btn btn-primary" href="{% url 'lug-create' %}">New LUG</a>

{% endif %}

{% include "lugs/pagination.html" %}

{% endblock content %}