{% extends "lugs/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-sections">
        <form method="POST">
            {% csrf_token %}
            <fieldset class ="form-group">
                <legend class="border-bottom mb-4">Create a Post for LUG <strong>{{ lug.name }}</strong></legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-success" type="submit">Post</button>
            </div>
        </form>
    </div>
{% endblock content %}