{% extends "lugs/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-sections">
        <form method="POST">
            {% csrf_token %}
            <fieldset class ="form-group">
                <legend class="border-bottom mb-4">Edit Post <strong>{{ post.title }}</strong></legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-success" type="submit">Update</button>
                <a class="btn btn-secondary" href="{% url 'lug-posts' post.lug.slug %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}