{% extends "lugs/base.html" %}
{% block content %}


<!-- search box -->
<div class="row">
    <div class="col-md-12">
        <form class="search-box" action="" method="GET">
                <fieldset class="form-group">
                    <legend>Search LUGs by name</legend>
                    <input type="text" placeholder="Search.." value="{{ request.GET.q }}" name="q">
                    <button type="submit" ><i class="fa fa-search" aria-hidden="true"></i></button>
                </fieldset>
        </form>
    </div>
</div>

<!-- start LUGs List -->
<div class="row">

{% if lugs %}
    
{% for lug in lugs %}
<div class="col-md-6">
    <div class="card mb-4 box-shadow">
        <div class="card-banner">
            <a href="{% url 'lug-detail' lug.slug %}">
                <img class="card-img-top"
                    src="{{ lug.cover_image.url }}"
                    alt="{{ lug.name }} cover image">
            </a>
            <p class="card-title"><strong>{{ lug.name|slice:":30" }}</strong></p>
        </div>
        <div class="card-body">
            <p class="card-text text-muted"><i class="fa fa-map-marker text-muted mr-2" aria-hidden="true"></i>{{ lug.city|truncatewords:4 }}</p>
            <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">
                    <i class="fa fa-users mr-1" aria-hidden="true"></i>{{lug.profile_set.all.count}}
                    <i class="fa fa-user ml-2" aria-hidden="true"></i> <a href="{% url 'public-profile' lug.added_by.username %}">{{ lug.added_by|slice:":20" }} </a>
                </small>
                <div class="btn-group">
                    <a class="btn btn-outline-info" href="{% url 'lug-detail' lug.slug %}">View</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}

</div>

{% include "lugs/pagination.html" %}

{% endblock content %}

{% block sidebar %}
<!-- start side bar-->
<div class="col-md-4">

       <!-- side box -->
   
</div>
<!-- end side bar-->

{% endblock sidebar %}