{% extends "lugs/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
            <h4>You're logged in as: {{ user.username }}</h4>
            <a class="btn btn-primary" href="{% url 'my-lugs' %}">My LUGs</a>
            <a class="btn btn-outline-info" href="{% url 'logout' %}">Logout</a>
        </div>
    </div>
    <form method="POST" enctype="multipart/form-data">
        <legend class="border-bottom mb-4">Your Linux LUGs Profile</legend>

        {% csrf_token %}
        <fieldset class="form-group">
            {{ u_form|crispy }}
            {{ p_form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Update Profile</button>
        </div>
    </form>
</div>

{% endblock content %}