{% extends "lugs/base.html" %}
{% block content %}
<div class="profile">
    <div class="media">
        <img class="rounded-circle account-img" src="{{ user_public.profile.image.url }}">
        <div class="media-body">
            <div class="ml-4">
                <h4>{{ user_public.username }}'s Profile</h4>
                <p>LinuxLugs Name: {{ user_public.username }}</p>
                <p>Real Name: {{ user_public.profile.real_name }}</p>
                <p>Member Since: <small>{{ user_public.date_joined|date:"F d, Y" }}</small></p> 
                <p>Last Seen: <small>{{ user_public.last_login|date:"F d, Y" }}</small></p>
                <p><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i> City: <small>{{ user_public.profile.city }}</small></p> 
 
            </div>
            <a class="btn btn-primary mb-4" href="{% url 'lugs-by-user' user_public.username %}">LUGs by this user</a>
            <h4>Member of these LUGs:</h4>
            <p></p>
                {% for lug in user_lugs %}
                    <li><a href="{% url 'lug-detail' lug.slug %}">{{ lug.name }}</a></li>
                {% endfor%}
            
            
        </div>
    </div>

</div>

{% endblock content %}