{% extends "lugs/base.html" %}
{% block content %}
<div class="profile">
    <div class="media">
        <img class="rounded-circle account-img" src="{{ user_public.profile.image.url }}" alt="{{ user_public.profile.real_name }}">
        <div class="media-body">
            <h4>{{ user_public.username }}'s Public Profile</h4>

            {% if user == user_public %}
            <a class="btn btn-outline-info btn-sm" href="{% url 'edit-profile' %}">Edit Profile</a>
            <a class="btn btn-outline-info btn-sm" href="{% url 'password_reset' %}">Reset Password</a>
            {% endif %}

            <hr>

            <div>
                <p>
                    <a href="{{ user_public.profile.twitter }}" target="_blank"><i class="fa fa-twitter fa-2x text-muted" aria-hidden="true"></i></a>
                    <a href="{{ user_public.profile.facebook }}" target="_blank"><i class="fa fa-facebook fa-2x text-muted" aria-hidden="true"></i></a>
                    <a href="{{ user_public.profile.youtube_channel }}" target="_blank"><i class="fa fa-youtube fa-2x text-muted" aria-hidden="true"></i></a>
                </p>
                <p><i class="fa fa-user-circle fa-lg text-muted" aria-hidden="true"></i> LinuxLUGs Name: {{ user_public.username }}</p>
                <p><i class="fa fa-address-card fa-lg text-muted" aria-hidden="true"></i> Real Name: {{ user_public.profile.real_name }}</p>
                <p><i class="fa fa-calendar fa-lg text-muted" aria-hidden="true"></i> Member Since: <small>{{ user_public.date_joined|date:"F d, Y" }}</small></p> 
                <p><i class="fa fa-map-marker fa-lg text-muted" aria-hidden="true"></i> Location: {{ user_public.profile.city }}</p> 
                
            </div>
            <a class="btn btn-primary mb-4" href="{% url 'lugs-by-user' user_public.username %}">LUGs by this user</a>

            <h4><strong>{{ user_public.username }}</strong> is a member of these LUGs:</h4>
                {% for lug in user_lugs %}
                    <p><a href="{% url 'lug-detail' lug.slug %}"><img class="lug-thumb mr-2" src="{{ lug.cover_image.url}}" alt="{{ lug.name }} cover image">{{ lug.name }}</a></p>
                {% endfor%}
            
            
        </div>
    </div>

</div>

{% endblock content %}